<div class="container">
  <% if @user.errors.any? %>
    <div class="error_explanation">
    <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul><% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
        <% end %>
    </ul>
    </div>
  <% end %>

<h2>User info</h2>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.attachment_field :profile_image %>
  </div>

  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>
</div>