<div class="container">
  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
  <% end %>
  <div class="row">
  	<%= render 'books/list', user: current_user, book: @book_new %>
  	<div class="col-lg-9">
  	  <h2>Book detail</h2>
  	  <table class="table table-hover">
  	  	<tr>
  	  	<th><%= link_to user_path(@users) do %><%= @book.user.name %><% end %></th>
  	  	<th><%= link_to @book.title, book_path(@book) %></th>
  	  	<th><%= @book.body %></th>
        <% if @book.user == current_user %>
        <th><%= link_to edit_book_path do %>edit<% end %></th>
        <th><%= link_to book_path, method: :delete, "data-confirm" => "本当に消しますか？" do %>destroy<% end %></th>
        <% end %>
  	    </tr>
  	  </table>
  	</div>
  </div>
</div>