<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-fix navbar-inverse">
        <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <span class="site-name">Bookers</span>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="icon">
                <%= link_to user_path(current_user) do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                <% end %>
              </li>
              <li class="icon">
                <%= link_to users_path do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
                <% end %>
              </li>
              <li class="icon">
                <%= link_to books_path do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
                <% end %>
              </li>
              <li class="icon">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
                <% end %>
              </li>
            <% else %>
              <li class="icon">
                <%= link_to root_path do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                <% end %>
              </li>
              <li class="icon">
                <%= link_to home_about_path do %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
                <% end %>
              </li>
              <li class="icon">
                <%= link_to new_user_registration_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign up
                <% end %>
              </li>
              <li class="icon">
                <%= link_to user_session_path do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>login
                <% end %>
              </li>
            <% end %>
            </ul>
          </nav>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
          <p>Copyright Infratop.Inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>